body {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

div {
    width: auto;
    margin: auto;
    border: 0px solid black;
    border-radius: 2px 2px 2px 2px;
    background-color: black;
    color: white;
}