/* NAVBAR */

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 4; /* Sets the position of the navbar in the stack layer so it is on top */
}

ul{
    list-style-type: none; /* Removes the default bullet point list styling */
    background-color: #363636;
    margin: -10 -10 0px -10; /* Margin value order!! */
    overflow: hidden; /* Hides excess margin space expanding past scroll bar */
    display: flex; /* Uses flexbox to align the navbar items in a row */
    align-items: center;
}

a{
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: 600;
    color: white;
    text-decoration: none; /* Removes the default underline from links */
    text-transform: uppercase; /* Transform all text to uppercase regardless of the case that is typed in the HTML file */
    width: 100px;
    padding: 30px;
    text-align: center;
    transition: background-color 0.4s ease-in;
}

/* NAVBAR ROLLOVER EFFECTS */
a:hover, .drop:hover{
    background-color: rgb(228, 159, 0);
    color: rgb(49, 49, 49);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

/* Stykles and hides the anchor links within the IMAGES link div tag */
.rollover-menu{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Displays anchor elements when the user hovers their mouse over the images link */

.drop:hover .rollover-menu{
    display: block;
}

.rollover-menu a{
    /* Specifically styles the anchor elements within the rollover menu div */
    color: #363636;
}


/* Specifically styles the hover effect for the anchor elements within the rollover menu div */
.rollover-menu a:hover{
    color: white;

}

/* Specifically styles the first anchor element within the rollover menu div tag */
.rollover-menu a:hover:nth-child(1){
    background-color: rgb(117, 20, 20); 
}

/* Specfically styles the second anchor element child within the rollover manu div tag */
.rollover-menu a:hover:nth-child(2){
    background-color: rgb(87, 7, 7); 
}

/* Specifically styles the third anchor element child within the rollover manu div tag */
.rollover-menu a:hover:nth-child(3){
    background-color: rgb(48, 2, 2); 
}

/* FOOTER */
footer{
    background-color: #363636;
    margin: 30px -10px -10px -10px; /* Margin value order!! */
    overflow: hidden; /* Hides excess margin space expanding past scroll bar */;
    height: 70px;

}

/* Styles the text within the footer */

.footer-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    font-weight: 400;
    color: rgb(228, 159, 0);
    text-align: center;
}

/* IMAGES */
img{
    width: 700px;
    height: 550px;
}

/* Creates a container for each image to be held in */
.image-container{
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

/* creates a uniform amount of space between each image */
#image3{
    padding-bottom: 170px;
}

/* IMAGE ONE */
.overlay{
    position: absolute;
    width: 700px;
    height: 550px;
    background-color: rgb(90, 90, 90);
    opacity: 0;
    transition: 0.5s ease;
}

/* Triggers the hover effect of the overlay on Image 1 with a 60% opacity */
.overlay:hover{
    opacity: 0.6;
}

/* IMAGE TWO */
.zoom{
    transform: scale(1); /* Sets the base size of image 2 for a zoom in effect */
    transition: 0.5s ease-out; /* creates a smooth transition for the zoom effect */
    z-index: 3; /* Sets image position in the stack layer behind navbar so zoom effect does not cover the navbar */

}
/* Creates a zoom in effect on image 2 */
.zoom:hover{
    transform: scale(1.5); /* Scales image 2 to grow half of its size */
    transition: 0.5s ease-out;
}

/* IMAGE 3 */
/* Creates the position of the animation burst and hides any overflow of the shape size going beyond the dges of image 3 */
.circle{
    position: relative;
    margin: 0px;
    overflow: hidden;
}

/* Sets up the burst animation shape and position before the hover effect is triggered */
.circle::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%; /* Creates a circle/oval shape */
    opacity: 0; /* Makes ths shape invisible until hover effect is triggered */  
    top: 50%;
    left: 50%; /* Top and left position the circle to the center of image 3 */
    transform: translate(-50%, -50%); /* allows the circle to evenly expand from the center */
    animation: burst-reverse 1s;
}

/* Triggers the hover effect on the circle class selected ::before */
.circle:hover::before{
    animation: burst 1s;
    animation-fill-mode: forwards; 
}

/* Creates a growing circle effect */
@keyframes burst{
    0% {
        opacity: 0.2;
        background-color: rgb(224, 224, 224);
    }
    100% {
        opacity: 0.7;
        background-color: rgb(224, 224, 224);
        width: 300%;
        height: 300%;

    }
}

/* Animation of the circle shrinking back to the center of the image */
@keyframes burst-reverse{
    0%{
        opacity: 0.7;
        background-color: rgb(224, 224, 224);
        width: 300%;
        height: 300%;
    }
    100%{
        opacity: 0.2;
        background-color: rgb(224, 224, 224);

    }
}